@use '../../Partials/variables';

.ContactBanner {
    position: relative;

    .container {
        position: relative;

        #openMenu {
            display: none;

            @media all and (max-width:576px) {
                display: block;
                position: absolute;
                top: 15px;
                right: 20px;
                z-index: 50;
                color: white;
            }
        }

        @include variables.banner_navbar;

        .bg-overlay {
            height: 75vh;
            background: url("https://images.pexels.com/photos/4065800/pexels-photo-4065800.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
            background-attachment: fixed;
            background-size: cover;
            filter: brightness(60%);
            position: relative;
            background-position: center -130px;
            background-repeat: no-repeat;

            @media all and (max-width: 768px) {
                background-position: center -60px;

            }

            @media all and (max-width: 576px) {
                background-attachment: scroll;


            }

        }

        .logo {
            position: absolute;
            top: 10px;
            left: 16px;

            img {
                width: 180px;

                @media all and (max-width: 992px) {
                    width: 150px;

                }
            }
        }

        h2 {
            color: white;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            @include variables.Playfair-Semibold;

            @media all and (max-width: 768px) {
                font-size: 36px;

            }

            @media all and (max-width: 576px) {
                font-size: 36px;
                white-space: nowrap;
            }
        }

    }
}