.AboutBanner {
  position: relative;
}
.AboutBanner .container {
  position: relative;
}
.AboutBanner .container .bg-overlay {
  height: 580px;
  background: url("https://wallpaperaccess.com/full/1640112.jpg");
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(60%);
  position: relative;
}
@media all and (max-width: 890px) {
  .AboutBanner .container .bg-overlay {
    background-position: -300px;
  }
}
@media all and (max-width: 576px) {
  .AboutBanner .container .bg-overlay {
    background: url("https://wallpaperaccess.com/full/1640112.jpg");
    background-attachment: fixed;
    background-size: cover;
    height: 540px;
    background-position: 800px;
  }
}
.AboutBanner .container .logo {
  position: absolute;
  top: 10px;
  left: 16px;
}
.AboutBanner .container .logo img {
  width: 260px;
}
@media all and (max-width: 576px) {
  .AboutBanner .container .logo img {
    width: 170px;
  }
}
.AboutBanner .container h2 {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}
@media all and (max-width: 576px) {
  .AboutBanner .container h2 {
    font-size: 40px;
  }
}