.banner_img {
  position: relative;
}
.banner_img .bg-img {
  width: 100%;
  filter: brightness(60%);
  position: relative;
}
.banner_img .logo {
  width: 36%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(98%);
}
@media all and (max-width: 576px) {
  .banner_img .logo {
    width: 45%;
  }
}