.WebBanner {
  height: 580px;
  background: url("https://www.clphotography.co.uk/portfolio/files/imgFull-48679.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: 16px;
}
@media all and (max-width: 576px) {
  .WebBanner {
    background: url("https://www.clphotography.co.uk/portfolio/files/imgFull-48672.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
}
.WebBanner .container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.WebBanner .container .card {
  background-color: rgba(109, 109, 109, 0.9098039216);
  text-align: center;
  padding: 50px;
  transition: 0.3s ease-in;
}
@media all and (max-width: 576px) {
  .WebBanner .container .card {
    padding: 18px;
  }
}
.WebBanner .container .card:hover {
  background-color: #6e6e5c;
}
.WebBanner .container .card h2 {
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
}
@media all and (max-width: 576px) {
  .WebBanner .container .card h2 {
    font-size: 20px;
  }
}
.WebBanner .container .card p {
  color: gainsboro;
  padding-bottom: 20px;
}
@media all and (max-width: 576px) {
  .WebBanner .container .card p {
    font-size: 14px;
  }
}
.WebBanner .container .card a {
  text-decoration: none;
  display: inline-block;
  background-color: #d6823e;
  color: white;
  padding: 12px;
  transition: 0.3s ease-in;
}
.WebBanner .container .card a:hover {
  background-color: #3a4a53;
  transition: 0.3s ease-in;
}