@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap");
.ContactBanner {
  position: relative;
}
.ContactBanner .container {
  position: relative;
}
.ContactBanner .container #openMenu {
  display: none;
}
@media all and (max-width: 576px) {
  .ContactBanner .container #openMenu {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 50;
    color: white;
  }
}
.ContactBanner .container ul {
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 50;
  display: flex;
  left: 50%;
  list-style: none;
  transform: translate(-50%);
}
@media all and (max-width: 576px) {
  .ContactBanner .container ul {
    display: none;
  }
}
.ContactBanner .container ul li {
  padding: 20px 26px;
}
@media all and (max-width: 768px) {
  .ContactBanner .container ul li {
    padding: 10px 8px;
  }
}
.ContactBanner .container ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 12px;
  border-radius: 6px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  transition: all 0.2s ease-in;
}
@media all and (max-width: 768px) {
  .ContactBanner .container ul li a {
    font-size: 14px;
  }
}
.ContactBanner .container ul li a:hover {
  background: rgba(255, 255, 255, 0.136);
  backdrop-filter: saturate(180%) blur(10px);
  transition: all 0.2s ease-in;
}
.ContactBanner .container .bg-overlay {
  height: 75vh;
  background: url("https://images.pexels.com/photos/4065800/pexels-photo-4065800.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(60%);
  position: relative;
  background-position: center -130px;
  background-repeat: no-repeat;
}
@media all and (max-width: 768px) {
  .ContactBanner .container .bg-overlay {
    background-position: center -60px;
  }
}
@media all and (max-width: 576px) {
  .ContactBanner .container .bg-overlay {
    background-attachment: scroll;
  }
}
.ContactBanner .container .logo {
  position: absolute;
  top: 10px;
  left: 16px;
}
.ContactBanner .container .logo img {
  width: 180px;
}
@media all and (max-width: 992px) {
  .ContactBanner .container .logo img {
    width: 150px;
  }
}
.ContactBanner .container h2 {
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
@media all and (max-width: 768px) {
  .ContactBanner .container h2 {
    font-size: 36px;
  }
}
@media all and (max-width: 576px) {
  .ContactBanner .container h2 {
    font-size: 36px;
    white-space: nowrap;
  }
}