@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap");
.Pt_Banner {
  height: 580px;
  background: url("https://i.ytimg.com/vi/4OfyPNF3l5E/maxresdefault.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media all and (max-width: 768px) {
  .Pt_Banner {
    background-position: left;
  }
}
@media all and (max-width: 576px) {
  .Pt_Banner {
    background: url("https://i.pinimg.com/originals/99/db/92/99db92e3a037003804632bbf324e6b28.jpg");
    background-attachment: scroll;
    background-size: cover;
  }
}
.Pt_Banner .container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.Pt_Banner .container .card {
  background-color: rgba(109, 109, 109, 0.9098039216);
  text-align: center;
  padding: 50px;
  transition: 0.3s ease-in;
}
@media all and (max-width: 576px) {
  .Pt_Banner .container .card {
    padding: 18px;
  }
}
.Pt_Banner .container .card:hover {
  background-color: #6e6e5c;
}
.Pt_Banner .container .card .grey-box-reveal {
  display: inline-block;
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(1);
  position: relative;
}
.Pt_Banner .container .card .grey-box-reveal::before {
  position: absolute;
  content: "";
  top: 0;
  left: -5px;
  width: 110%;
  height: 80%;
  background: linear-gradient(90deg, rgb(109, 109, 109) 1%, rgb(180, 180, 175) 56%, rgb(171, 171, 171) 100%);
  transform-origin: left;
  transition: 0.5s ease-in;
}
.Pt_Banner .container .card .grey-box-reveal::before[data-aos=custom-grey-box-animation] {
  transform: scaleX(1);
}
.Pt_Banner .container .card .grey-box-reveal.aos-init.aos-animate::before {
  transform: scaleX(0);
}
.Pt_Banner .container .card h2 {
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
@media all and (max-width: 576px) {
  .Pt_Banner .container .card h2 {
    font-size: 20px;
  }
}
.Pt_Banner .container .card p {
  color: gainsboro;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}
@media all and (max-width: 576px) {
  .Pt_Banner .container .card p {
    font-size: 14px;
  }
}
.Pt_Banner .container .card a {
  text-decoration: none;
  display: inline-block;
  background-color: #d6823e;
  color: white;
  padding: 12px;
  transition: 0.3s ease-in;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Pt_Banner .container .card a:hover {
  background-color: #3a4a53;
  transition: 0.3s ease-in;
}