@import url("https://fonts.googleapis.com/css2?family=Agdasima&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap");
.Review {
  padding: 100px 0;
  margin: 20px;
  border: 2px solid #F0964A;
}
@media all and (max-width: 576px) {
  .Review {
    padding: 5% 0;
    margin: 15px;
  }
}
.Review h2 {
  text-align: center;
  padding-bottom: 40px;
  color: #F0964A;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-style: italic;
}
@media all and (max-width: 576px) {
  .Review h2 {
    font-size: 24px;
  }
}
.Review .review-carousel .carousel-cell {
  width: 33%;
}
@media all and (max-width: 768px) {
  .Review .review-carousel .carousel-cell {
    width: 50%;
  }
}
.Review .review-carousel .card {
  margin: 20px;
  padding: 30px;
  height: 100%;
  background-color: rgb(223, 223, 223);
  transition: 0.3s ease-in;
}
@media all and (max-width: 576px) {
  .Review .review-carousel .card {
    margin: 4px;
    padding: 10px;
  }
}
.Review .review-carousel .card .card-content h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.Review .review-carousel .card .card-content p {
  padding-top: 15px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@media all and (max-width: 576px) {
  .Review .review-carousel .card .card-content p {
    font-size: 10px;
    padding-top: 8px;
  }
}
.Review .review-carousel .card:hover {
  -webkit-box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 7px -2px rgba(0, 0, 0, 0.75);
  transition: 0.3s ease-in;
  transform: translateY(-1px);
}
.Review .book-now {
  display: flex;
  justify-content: center;
}
.Review .book-now a {
  margin-top: 80px;
  text-decoration: none;
  display: inline-block;
  background-color: #d6823e;
  color: white;
  padding: 12px;
  transition: 0.3s ease-in;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
.Review .book-now a:hover {
  background-color: #3a4a53;
  transition: 0.3s ease-in;
}
@media all and (max-width: 576px) {
  .Review .book-now a {
    margin-top: 60px;
    font-size: 16px;
  }
}

.fa.fa-star.checked {
  color: orange;
}

@media all and (max-width: 576px) {
  .fa.fa-star {
    font-size: 10px;
  }
}
.flickity-page-dot.is-selected,
.flickity-page-dot:focus,
.flickity-page-dot.is-selected:focus,
.flickity-page-dot.is-selected:active,
.flickity-page-dot.is-selected:hover {
  box-shadow: 0 0 0 5px rgb(196, 196, 196);
}

.flickity-button.flickity-prev-next-button.previous:focus,
.flickity-button.flickity-prev-next-button.next:focus {
  box-shadow: 0 0 0 5px rgb(163, 163, 163);
}

@media all and (max-width: 576px) {
  .flickity-button.flickity-prev-next-button.next,
  .flickity-button.flickity-prev-next-button.previous {
    display: none;
  }
}