@use '../../Partials/variables';

.WebBanner {
    height: 580px;
    background: url("https://www.clphotography.co.uk/portfolio/files/imgFull-48679.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 16px;

    @media all and (max-width: 576px) {
        background: url("https://www.clphotography.co.uk/portfolio/files/imgFull-48672.jpg");
        background-size: cover;
        background-attachment: fixed;


    }

    // https://www.clphotography.co.uk/portfolio/files/imgFull-48672.jpg
    .container {
        display: flex;
        justify-content: center;
        max-width: 900px;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        padding: 20px;

        .card {
            background-color: #6d6d6de8;
            text-align: center;
            padding: 50px;
            @include variables.transition;

            @media all and (max-width: 576px) {
                padding: 18px;
            }

            &:hover {
                background-color: variables.$light_gray;
            }

            h2 {
                color: white;
                font-size: 30px;
                padding-bottom: 20px;
                @include variables.Playfair-Semibold-italic;

                @media all and (max-width: 576px) {
                    font-size: 20px;
                }
            }

            p {
                color: gainsboro;
                padding-bottom: 20px;
                @include variables.open-sans-italic;

                @media all and (max-width: 576px) {
                    font-size: 14px;
                }
            }

            a {
                @include variables.button_style;
            }

        }
    }
}