@use '../../Partials/variables';


.Pt_Banner {
    height: 580px;
    background: url("https://i.ytimg.com/vi/4OfyPNF3l5E/maxresdefault.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    @media all and (max-width: 768px){
        background-position: left;
    }
    @media all and (max-width: 576px) {
        background: url("https://i.pinimg.com/originals/99/db/92/99db92e3a037003804632bbf324e6b28.jpg");
        background-attachment: scroll;
        background-size: cover;

    }

    .container {
        display: flex;
        justify-content: center;
        max-width: 900px;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        padding: 20px;


        .card {
            background-color: #6d6d6de8;
            text-align: center;
            padding: 50px;
            @include variables.transition;

            @media all and (max-width: 576px) {
                padding: 18px;
            }

            &:hover {
                background-color: variables.$light_gray;
            }

            h2 {
                color: white;
                font-size: 30px;
                padding-bottom: 20px;
                @include variables.Playfair-Semibold-italic;

                @media all and (max-width: 576px) {
                    font-size: 20px;
                }
            }

            p {
                color: gainsboro;
                padding-bottom: 20px;
                @include variables.open-sans-italic;

                @media all and (max-width: 576px) {
                    font-size: 14px;
                }
            }

            a {
                @include variables.button_style;
            }

        }
    }

}