  @import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Open+Sans:ital,wght@0,400;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Raleway:ital,wght@0,400;0,500;1,400;1,500&display=swap');

  $light_brown: #F0964A;
  $dark_brown: #d6823e;
  $dark_gray: #808080;
  $light_gray: #6e6e5c;
  $dark_blue: #3a4a53;
  $darker_gray: #3d3d3d;


  @mixin transition {
    transition: 0.3s ease-in;
  }

  @mixin button_style {
    text-decoration: none;
    display: inline-block;
    background-color: $dark_brown;
    color: white;
    padding: 12px;
    @include transition;
    @include raleway-regular;

    &:hover {
      background-color: $dark_blue;
      @include transition;
    }
  }



  @mixin banner_navbar {
    ul {
      background-color: transparent;
      position: absolute;
      top: 0;
      z-index: 50;
      display: flex;
      left: 50%;
      list-style: none;
      transform: translate(-50%);

      @media all and (max-width:576px) {
        display: none;
      }

      li {
        padding: 20px 26px;

        @media all and (max-width:768px) {
          padding: 10px 8px;

        }

        a {
          text-decoration: none;
          color: white;
          font-size: 16px;
          padding: 10px 12px;
          border-radius: 6px;
          @include Playfair-regular-400;
          transition: all 0.2s ease-in;

          @media all and (max-width:768px) {
            font-size: 14px;
          }



          &:hover {
            background: rgba(255, 255, 255, 0.136);
            backdrop-filter: saturate(180%) blur(10px);
            transition: all 0.2s ease-in;



          }
        }
      }

    }
  }









  //   @include variables.Playfair-regular-400;
  @mixin Playfair-regular-400 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
  }

  //   @include variables.Playfair-regular-400-italic;
  @mixin Playfair-regular-400-italic {

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 400;

  }

  // @include variables.Playfair-Medium-500;
  @mixin Playfair-Medium-500 {

    font-family: 'Playfair Display', serif;
    font-weight: 500;
  }

  // @include variables.Playfair-Medium-500-italic;
  @mixin Playfair-Medium-500-italic {

    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 500;
  }

  // @include variables.Playfair-Semibold;
  @mixin Playfair-Semibold {

    font-family: 'Playfair Display', serif;
    font-weight: 600;
  }

  //   @include variables.raleway-regular;
  @mixin raleway-regular {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  //   @include variables.raleway-medium;
  @mixin raleway-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
  }

  //   @include variables.raleway-regular-italic;
  @mixin raleway-regular-italic {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  //   @include variables.Agdasima-regular;
  @mixin Agdasima-regular {

    font-family: 'Agdasima', sans-serif;
    font-weight: 400;
  }

  //   @include variables.open-sans-regular;
  @mixin open-sans-regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  //   @include variables.open-sans-semibold;
  @mixin open-sans-semibold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  //   @include variables.open-sans-light;
  @mixin open-sans-light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  //   @include variables.Playfair-Semibold-italic;
  @mixin Playfair-Semibold-italic {

    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-style: italic;
  }

  //   @include variables.open-sans-italic;
  @mixin open-sans-italic {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
  }


  // box-reveal Animation

  @mixin box-reveal-animation {

    .box-reveal {
      display: inline-block;
      transition: 0.5s;
      transform-origin: left;
      transform: scaleX(1);
      position: relative;


      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 110%;
        background: linear-gradient(90deg, rgba(254,230,210,1) 1%, rgba(255,181,116,1) 35%, rgba(255,177,110,1) 100%);
        transform-origin: right;
        transition: 0.5s ease-in;



      }

      &::before[data-aos="custom-box-animation"] {
        transform: scaleX(1);



      }
    }


    .box-reveal.aos-init.aos-animate::before {
      transform: scaleX(0);



    }

  }

  @mixin Grey-box-reveal-animation {

    .grey-box-reveal {
      display: inline-block;
      transition: 0.5s;
      transform-origin: left;
      transform: scaleX(1);
      position: relative;


      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: -5px;
        width: 110%;
        height: 80%;
        background: linear-gradient(90deg, rgba(109, 109, 109, 1) 1%, rgba(180, 180, 175, 1) 56%, rgba(171, 171, 171, 1) 100%);
        transform-origin: left;
        transition: 0.5s ease-in;



      }

      &::before[data-aos="custom-grey-box-animation"] {
        transform: scaleX(1);



      }
    }


    .grey-box-reveal.aos-init.aos-animate::before {
      transform: scaleX(0);
    }

  }


  @mixin custom-fade-left {


    /* .right-col animation styling */
    .custom-fade-left[data-aos="custom-fade-left"] {
      opacity: 0;
      transform: translateX(100px);

    }


    .custom-fade-left.aos-animate {
      opacity: 1;
      transform: translateX(0);

    }
    @media all and (max-width:576px) {
      .custom-fade-left[data-aos="custom-fade-left"] {
        opacity: 0;
        transform: translateY(60px);

      }

      .custom-fade-left.aos-animate {
        opacity: 1;
        transform: translateY(0);

      }
    }

    
  }

  @mixin custom-fade-right {
    .custom-fade-right[data-aos="custom-fade-right"] {
      opacity: 0;
      transform: translateX(-100px);

    }

    .custom-fade-right.aos-animate {
      opacity: 1;
      transform: translateX(0);

    }
    @media all and (max-width:576px) {
      .custom-fade-right[data-aos="custom-fade-right"] {
        opacity: 0;
        transform: translateY(60px);

      }

      .custom-fade-right.aos-animate {
        opacity: 1;
        transform: translateY(0);

      }
    }

  }