@use '../../Partials/variables';

.GalleryBanner {
    position: relative;

    .container {
        position: relative;

        .bg-overlay {
            height: 75vh;
            background: url("https://wallpaperaccess.com/full/7640226.jpg");
            background-attachment: fixed;
            background-size: cover;
            filter: brightness(60%);
            position: relative;
            background-position: center -130px;
            background-repeat: no-repeat;

            @media all and (max-width: 768px) {
                background-position: center -60px;

            }

            @media all and (max-width: 576px) {
                height: 70vh;

            }

        }

        h2 {
            color: white;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            @include variables.Playfair-Semibold;


            @media all and (max-width: 768px) {
                font-size: 36px;

            }

            @media all and (max-width: 576px) {
                font-size: 40px;
            }
        }

    }
}