@use '../../Partials/variables';

.banner_img {
    position: relative;

    #openMenu {
        display: none;

        @media all and (max-width:576px) {
            display: block;
            position: absolute;
            top: 15px;
            right: 20px;
            z-index: 50;
            color: white;
        }
    }


    @include variables.banner_navbar;

    .bg-mob-img {
        display: none;
    }

    @media all and (max-width: 576px) {
        .bg-img {
            display: none;
        }

        .bg-mob-img {
            display: block;
            width: 100%;
            filter: brightness(60%);
            position: relative;

            @media all and (max-width:576px) {
                height: 70vh;
                object-fit: cover;
            }
        }
    }

    .bg-img {
        width: 100%;
        filter: brightness(60%);
        position: relative;
    }

    .logo {
        width: 36%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(98%);
    }

    @media all and (max-width: 576px) {
        .logo {
            width: 45%;

        }
    }




}