.banner_img {
    position: relative;
    .bg-mob-img{
        display: none;
    }

    @media all and (max-width: 576px) {
        .bg-img {
            display: none;
        }

        .bg-mob-img {
            display: block;
            width: 100%;
            filter: brightness(60%);
            position: relative;
        }
    }

    .bg-img {
        width: 100%;
        filter: brightness(60%);
        position: relative;
    }

    .logo {
        width: 36%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: brightness(98%);
    }

    @media all and (max-width: 576px) {
        .logo {
            width: 45%;

        }
    }




}